/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of Eric Meyer's reset*/

/*begin body styles*/

body {
  background-color: rgb(25, 20, 15);
  background-image: url("room.JPG");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 1400px;
  margin: 0;
	width: 1400px;
  min-height: 1333px;

  font-family: 'Loved by the King', cursive;
  color: white;

}

/*begin header styles*/

header {
  position: absolute;
  left: 600px;
  width: 800px;
  height: 150px;
  /*background-color: green;*/
}

h1 {
  font-size: 60px;
  padding-top: 80px;
}

/*inner content styles*/

aside {
	position: absolute;
	width: 400px;
	left: 700px;
	top: 300px;
	margin-right: 150px;
}

aside p {
	font-size: 25px;
	line-height: 35px;
	padding-bottom: 50px;
}

aside a {
	text-decoration: none;
	color: white;
	font-size: 18px;
}

aside a:hover {
	text-decoration: underline;
}

/*start hover-over image styles*/

#cat {
	position: absolute;
	top: 600px;
	left: 900px;
}

/*style pop up messages*/

section {
	position: absolute;
	top: 0;
	color: white;
	background-color: black;
	width: 1400px;
	height: 1300px;
	background-color: black;
	display: none;
	opacity: .9;
}

div {
	width: 700px;
	height: 400px;
	color: white;
	display: none;
	position: absolute;
	top: 10%;
	left: 25%;
}

div img {
	padding: 70px 30px;
	opacity: 1;
}

div p {
	position: relative;
	font-size: 25px;
	width: 400px;
	float: right;
	top: 100px;
	padding-right: 30px;
}

img:hover {
	filter: brightness(130%);
}

button {
	position: absolute;
	top: 10%;
	right: 20%;
	clear: both;
}

footer {
  position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
  height: 50px;
	padding: 40px;
  background-color: green;
}

footer a {
	float: right;
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding: 0 40px;
}

@media (max-width: 1024px){

  body {
    background-size: 1025px;
  }
}
